<br><br>
<div class="headline">Let's Play</div>
<br>

<center><img src="https://static3.scirra.net/images/newstore/products/2063/splash.png"></center><br>
<div class="headline">???</div>

<form class="center headline" action="/intro" method="post">
	<input type="submit" value="YES">
</form>	