<br><br>
<center><h1>Let's Play</h1></center>
<br>

<center><img src="https://static3.scirra.net/images/newstore/products/2063/splash.png"></center><br><br>


<center><form class="center headline" action="/intro" method="post">
	<input type="submit" value="PLAY">
</form></center>