<link href="css/styles.css" rel="stylesheet">


<br><br>
<div class="headline">Let's Play</div>
<br><br>

<center><img src="https://static3.scirra.net/images/newstore/products/2063/splash.png"></center><br><br>

<center><form class="button" action="/intro" method="post">
	<input type="submit" value="PLAY">
</form></center>
