<link href="css/styles.css" rel="stylesheet">

<br><br><br><br><br>
<div class="subhead">Awesome, what is your name?</div>
<br>
<form class="center" action="/name" method="post">
	<input type="text" name="name_input">
	<p><input type="submit" value="submit"><p>
</form>

<center><img src="/../images/fullboard.png"></center>
