<link href="css/styles.css" rel="stylesheet">

<br><br>
<div class="headline">Nice to meet you <%=name%>.</div><p> 
<div class="subhead">Please select your tic-tac-toe opponent from the dropdown menu.</div>
<br>

<center><div class="dropdown">
  <button class="dropbtn">OPPONENT</button>
  <div class="dropdown-content">
    <a href="#">Easy</option></a>
    <a href="#">Medium</option></a>
    <a href="#">Unbeatable</option></a>
    <a href="#">Human Play</option></a>
  </div>
<!--   <select>
  	<option value='random_ai'>Easy</option>
  	<option value='sequential_ai'>Medium</option>
  	<option value='unbeatable_ai'>Unbeatable</option>
  	<option value='human'>Human Play</option>
  	</select> -->
</div></center>

<br>
<center><img src="/../images/fullboard.png"></center>