<link href="css/styles.css" rel="stylesheet">

<br><br>
<div class="headline">Nice to meet you <%=name%>.</div><p> 
<div class="subhead">Please select your tic-tac-toe opponent from the dropdown menu.</div>
<br>

<center><div class="dropdown">
  <button class="dropbtn">OPPONENT</button>
  <div class="dropdown-content">
    <option value="random_ai">Easy</option>
    <option value="sequential_ai">Medium</option>
    <option value="unbeatable_ai">Unbeatable</option>
    <option value="human">Human Play</option>
  </div>

<!--    <div class="dropdown-content">
    <a href="option value='random_ai'">Easy</option></a>
    <a href="option value='sequential_ai">Medium</option></a>
    <a href="option value='unbeatable_ai'">Unbeatable</option></a>
    <a href="option value='human'">Human Play</option></a>
  </div> -->
<!--   <select>
<form action = "/input" method = "post">
	<select name = "opponent">
  	<option value='random_ai'>Easy</option>
  	<option value='sequential_ai'>Medium</option>
  	<option value='unbeatable_ai'>Unbeatable</option>
  	<option value='human'>Human Play</option>
  	</select> -->
</div></center>

<br>
<center><img src="/../images/fullboard.png"></center>