<link href="css/styles.css" rel="stylesheet">

<br><br>
<div class="headline">Nice to meet you <%=name%>.</div><p> 
<div class="subhead">Please select the type of tic-tac-toe game<p>you would like to play from the dropdown menu.</div>


<center><div class="dropdown">
  <button class="dropbtn">Game Type</button>
  <div class="dropdown-content">
    <a href="#">Easy</a>
    <a href="#">Medium</a>
    <a href="#">Unbeatable</a>
    <a href="#">Human Play</a>
  </div>
</div></center>
<br>
<center><img src="/../images/fullboard.png"></center>