.headline {
	color: #06d609; /*green*/
	font-family: impact;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	font-size: 50px;
}
.subhead {
	color: black;
	font-family: franklin gothic medium;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	font-size: 30px;
}
.bodycopy {
	color: black;
	font-family: helvetica;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	font-size: medium;
}
.header {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	padding: 1rem;
	background-color: #42eef4;
}

.background {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: white
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #42eef4;
}

.center {
	text-align: center;
}

.button {
    background-color: #efc507; /* gold */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.dropbtn {
    background-color: #cc1414; /*O red*/
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 116px;
    box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #b7a5a5}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #160f99; /*X blue*/
}


/*.headline = a class
#headline = a id*/
/*NOTE: marv said nav bars are set to fixed vs. absolute so the scroll goes behind the nav bar*/

/*background-attachment: fixed;
	background-position: center;
	width:900px;
   height:300px;
   margin:0;
   padding:0;
Sub my image size for width and height*/